= link_to admin_places_path(params.permit(:scope)), class: :left do
  = fa_icon('angle-double-left', text: t('shared.back'))

- if current_admin_user.admin?
  = link_to new_admin_place_candidate_path(place), class: 'light-button' do
    = fa_icon('plus', text: t('shared.create'))

= link_to next_path(current_admin_user, place), class: :right do
  = fa_icon('angle-double-right', text: t('shared.skip'), class: 'pull-right')
