.navbar.navbar-default{role: "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", type: "button", "aria-expanded" =>false }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Poichecker', root_path, class: 'navbar-brand'

    .collapse.navbar-collapse#navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to t('activerecord.models.data_set.other'), data_sets_path
        %li.dropdown
          = link_to '#', 'class' => 'dropdown-toggle', 'data-toggle' => 'dropdown' do
            = I18n.t('shared.language')
            %b.caret
          %ul.dropdown-menu
            - I18n.available_locales.each do |locale|
              %li{class: I18n.locale.to_s == locale ? 'active' : nil}
                = link_to I18n.t('shared.current_language', locale: locale), url_for(:locale => locale)


      %ul.nav.navbar-nav.navbar-right
        %li
          - if signed_in?
            = link_to I18n.t('shared.call_to_action.check'), admin_places_path
          - else
            = link_to t('active_admin.devise.login.title'), new_admin_user_session_path()
