= semantic_form_for DataSet.new, :url => import_csv_admin_data_sets_path, :html => {:multipart => true} do |form|
  = form.inputs do
    = form.input :name
    = form.input :license
    = form.input :csv_file, as: :file, required: true, hint: "Die CSV Datei sollte in der ersten Zeile folgende Spalten in beliebiger Reihenfolge enthalten:<strong> \"Name, Lat, Lon, Street, Housenumber, Postcode, City, Country, Phone, Wheelchair\"</strong>".html_safe

  = form.actions do
    = form.submit 'Upload'
