= link_to "&laquo; #{t('shared.back')}".html_safe, places_path, class: 'light-button left'

= link_to "+ #{t('shared.create') }".html_safe, new_place_candidate_path(place), class: 'light-button'

= link_to "#{t 'shared.skip'} &raquo;".html_safe, next_places_path(q: { dist_greater_than: place.distance_to(current_admin_user)}, order: :distance_asc), class: 'light-button right'

