#map
  - candidate_pins = []
  - candidates.each_with_index{|c,i| candidate_pins << "pin-s-#{i+1}(#{c.lon},#{c.lat})"} unless candidates.blank?
  = image_tag "http://api.tiles.mapbox.com/v3/sozialhelden.map-iqt6py1k/pin-l-star+F22(#{resource.lon},#{resource.lat})#{candidate_pins.join(",")}/#{resource.lon},#{resource.lat},18/640x480.png64", style: "width:100%"